<script type="module" src="@components/pages/index/index.js"></script>
<link rel="stylesheet" href="@components/pages/index/index.scss">

<main class="page">
	<div class="page__container">

		<div class="game">
			<div class="game__wrap">
				<div class="game__logo">
					<img src="@img/logo.png" alt="Logo">
				</div>

				<div class="game__field">
					<div class="drum">
						<div class="drum__spinner">
							<div class="drum__column">
								<div class="drum__image"><img src="@img/icon/icon-1.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-2.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-3.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-4.png" alt="Icon game"></div>
							</div>
							<div class="drum__column">
								<div class="drum__image"><img src="@img/icon/icon-5.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-6.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-7.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-8.png" alt="Icon game"></div>
							</div>
							<div class="drum__column">
								<div class="drum__image"><img src="@img/icon/icon-1.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-2.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-3.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-4.png" alt="Icon game"></div>
							</div>
							<div class="drum__column">
								<div class="drum__image"><img src="@img/icon/icon-5.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-6.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-7.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-8.png" alt="Icon game"></div>
							</div>
							<div class="drum__column">
								<div class="drum__image"><img src="@img/icon/icon-1.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-2.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-3.png" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-4.png" alt="Icon game"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="menu">
				<div class="menu__container">
					<div class="menu__left">
						<div class="menu__wrap-icon">
							<!-- <div class="menu__column">
								<a href="#" class="menu__settings">
									<source srcset="@img/button/settings.png" type="image/png">
									<img alt="Settings" src="@img/button/settings.png">
								</a>
								<a href="#" class="menu__sound">
									<source srcset="@img/button/sound.png" type="image/png">
									<img alt="Sound" src="@img/button/sound.png">
								</a>
							</div> -->
							<a href="#" class="menu__sound">
								<source srcset="@img/button/sound.png" type="image/png">
								<img alt="Info" src="@img/button/sound.png">
							</a>
						</div>
						<div class="menu__bonus">
							<div class="menu__credit">
								<span>Credit</span>
								<div class="menu__value-all">$100,000.00</div>
							</div>
							<div class="menu__bet">
								<span>Bet</span>
								<div class="menu__value-win">$2.00</div>
							</div>
						</div>
					</div>
					<div class="menu__center">
						<p class="menu__title">Place your bets!</p>
					</div>
					<div class="menu__right">
						<a href="#" class="menu__minus">
							<source srcset="@img/button/minus.png" type="image/png">
							<img alt="Minus" src="@img/button/minus.png">
						</a>
						<a href="#" class="menu__button-spin">
							<source srcset="@img/button/arrows.png" type="image/png">
							<img alt="Arrows" src="@img/button/arrows.png">
						</a>
						<a href="#" class="menu__plus">
							<source srcset="@img/button/plus.png" type="image/png">
							<img alt="Plus" src="@img/button/plus.png">
						</a>
					</div>
				</div>
			</div>

			<div class="popup">
				<div class="popup__overlay"></div>
				<div class="popup__content">
					<div class="popup__inner">
						<h2 class="popup__title">Congratulations!</h2>
						<p class="popup__text">Ready to continue playing?</p>
						<a class="cta-button" href="#">Download Now</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</main>